main{
    width: 80%;
    background-color: var(--cinza);
}
.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--claro);
    border-radius: 1.5rem;
    margin: 1rem 15rem;
}
.conteudo h2{
    font-size: 2.4rem;
    margin-top: 2.5rem;
}

.conteudo img{
    border-radius: 1.5rem;
    width: 100rem;
    height: 50rem;
}
.conteudo p{
    font-size: 1.6rem;
    padding: 1.5rem;
}


/*=================Responsividade 400px=================*/

@media (max-width: 400px) {
    
    main{
        width: 100%;
    }

    .conteudo {
        margin: 1rem 15rem;
    }

    .conteudo img{
        width: 90%;
        height: 50%;
    }

}

/*=================Responsividade 1400px=================*/

@media (max-width: 1400px) {
    
    main{
        width: 80%;
    }

    .conteudo {
        margin: 5rem 5rem;
    }

    .conteudo img{
        width: 90%;
        height: 50%;
    }

}

/*=================Responsividade 1024px=================*/

@media (max-width: 1024px) {
    
    main{
        width: 80%;
    }

    .conteudo {
        margin: 5rem 5rem;
    }

    .conteudo img{
        width: 85%;
        height: 50%;
    }

}

/*=================Responsividade 450px=================*/

@media (max-width: 450px) {
    
    main{
        width: 100%;
    }

    .conteudo {
        margin: 2rem 2rem;
    }

    .conteudo img{
        width: 80%;
        height: 50%;
    }

}
